:root{
	--primary   : #ddd;
	--dark      : #333;
	--light     : #ccffff;
	--shadow    : 0 1px 5px rgba(104,104,104,0.8);
	--txtshadow : 0 1px 0 #ccc,
	0 2px 0 #c9c9c9,
	0 3px 0 #bbb,
	0 4px 0 #b9b9b9,
	0 5px 0 #aaa,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
	--myBack    : linear-gradient(-45deg, #3399ff,#e6f2ff);
	--myBack2:    linear-gradient(0deg,grey,white);
}
html{
	font-family : Arial, Helvetica, sans-serif;
	color       : var(--dark);
}

body{
	margin      : 30px 50px;
	margin      : 10px;
	background-color: lightgrey;
	line-height : 1.4;
}

.dbicontainer{
	margin-left: 25%;
	margin-right:25%;
}
.db-item{
	text-align: center;
	border:1px solid black;
	display:block;
	margin:1rem;
	padding:10px;
	border-radius: 1rem;
	background:var(--myBack);
	box-shadow: var(--shadow);


}
.db-item h1{
	padding:0.1%;
	border:1px solid black;
	border-radius: 0.5rem;
	background:white;
	text-shadow: var(--txtshadow);
}
.dbidata{
	background:white;
	border-radius: 1rem;
	padding:0.3rem;
}

#sort-form{
	background-color: white;
	display: block;
	text-align: center;
	justify-content: center;
	border-radius: 1rem;
	background:var(--myBack);

}
#sort-form button{
	background-color: white;
	padding: 0.3rem;
	margin:0.3rem;
	border-radius: 4px;

}
#sort-form button a{
	color:black;
	text-decoration: none;
	padding:0.3rem;
}
#linkbutton {
	background-color: blue;
}
.createform{
	margin-left: 25%;
	margin-right:25%;
	margin:1rem;
	padding: 1rem;
}
.createform h2{
	text-align: center;
	background-color:white;
	margin:1rem;
	padding: 1rem;
	border-radius: 30px
}
.iform{
	display: block;
	background-color: white;
	margin:1rem;
	padding: 1rem;
	text-align: center;
	border-radius: 10px
}
